# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Analysis, Log and Test Artifacts
*.analyze
*.diag
*.txt
!CMakeLists.txt
!**/CMakeLists.txt
!README.md
!CLAUDE.md
!GEMINI.md

# Documentation drafts, presentations, and reports
*.docx
*.pdf
*.pptx
*.xlsx
*.zip
*.html
!**/index.html
*_report.md
*documentation*.md

# Local Tools, Node.js packages and Helper Scripts
node_modules/
package-lock.json
package.json
/*.py
/*.js
swagger.json
